.formContainer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.todoInput {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  width: 300px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 0px 18px 7px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 1px 0px 18px 7px rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0px 18px 7px rgba(255, 255, 255, 0.2);
}

.addButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #42a5f5;
}
